<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="SRHWiscMano.App"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File" fileName="nlogfile2.txt" />
		<target name="logconsole" xsi:type="Console" />
		<target name="Debugger" xsi:type="Debugger" layout="${logger}::${message}" />
		<target name="wpfLogger" xsi:type="WpfLogger" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="debugger" />
		<logger name="*" minlevel="Debug" writeTo="wpfLogger" />
	</rules>
</nlog>