<?xml versionType="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="SRHWiscMano.App"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File" fileName="${currentdir}\Log\app-nlog-${shortdate}.log" />
		<target name="log4jfile" xsi:type="File" fileName="${currentdir}\Log\app-nlog-${shortdate}.log4jxml">
			<layout xsi:type="Log4JXmlEventLayout" includeEventProperties="true"/>
		</target>
		<target name="logconsole" xsi:type="Console" />
		<target name="Debugger" xsi:type="DebugSystem" layout="${level:uppercase=true} | ${logger:shortName=true}:${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true} | ${message}" />
		<target name="wpfLogger" xsi:type="WpfLogger" layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${logger:shortName=true}:${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true} | ${message}"/>
		<target name="throttle_log4view" type="AsyncWrapper" timeToSleepBetweenBatches="100" batchSize="1" overflowAction="Block">
			<target name="log4view" type="NLogViewer" address="udp://127.0.0.1:9999" newline="true" layout ="${logger} | ${message}"/>
		</target>
	</targets>

	<rules>
		<!-- <logger name="*" minlevel="Info" writeTo="logconsole" /> -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<logger name="*" minlevel="Debug" writeTo="log4jfile"/>
		<logger name="*" minlevel="Debug" writeTo="debugger" />
		<logger name="*" minlevel="Trace" writeTo="wpfLogger" />
		<logger name="*" minlevel="Trace" writeTo="throttle_log4view" />
	</rules>
</nlog>

<!-- Reference https://github.com/NLog/NLog/wiki/XmlLayout -->